body {
  margin: 0;
  padding: 0;
  background-color: #ffdbac;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: black;
  padding-top: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
}

td {
  padding: 12px;
  text-align: left;
}
