body {
  background-color: #f1c27d;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
}

th,
td {
  padding: 12px;
  border-style: solid;
  border-color: #8d5524;
  border-width: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #c68642;
}

tbody tr:hover {
  background-color: #ffdbac;
}
/* The switch - the box around the slider
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */
