body {
  background-color: #f1c27d;
}

.container {
  max-width: 1050px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
}

th,
td {
  padding: 12px;
  border-style: solid;
  border-color: #8d5524;
  border-width: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #c68642;
}

tbody tr:hover {
  background-color: #ffdbac;
}

.icond {
  color: #1b1b1b;
  padding: 2px;
}

.icond:hover {
  color: grey;
}
